@{
    ViewBag.Title = "Home Page";
}
<style>
    .jumbotron {
        position: relative;
        background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
        background: rgba(204, 204, 204, 0.5);
    }

    #Textarea {
        max-width: 100%;
        position: relative;
        background: rgb(204, 204, 204); /* Fallback for older browsers without RGBA-support */
        background: rgba(255, 255, 255, 0.5);
    }
</style>
<div class="jumbotron">
    <div class="form-group">
        @using (Html.BeginForm())
        {
            @Html.Hidden("Type")
            <label for="Textarea"><i>Practice your English with</i> <a href="#">Read-Out!</a></label>
            <input type="submit" class="btn btn-primary pull-right" value="Next" />
            <button class="btn" onclick="Practice(event, 'Speak')" title="Practice Listening"><img class="icon" src="@Url.Content("~/Content/out-play.png")" /></button>
            <textarea name="Text" class="form-control" id="Textarea" rows="8" placeholder="Type, paste, and edit text here."></textarea>
        }
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/autogrow.js"></script>
    <script>
        $(function () {
            $('#Textarea').autogrow();
        });
        function Practice(e, type) {
            $(Type).val(type);
            //e.preventDefault()11;
        }
    </script>
}