@model SpeakOutWeb.Models.Vocabulary
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

@Styles.Render("~/Content/css")
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Nhập số lượng từ từ 1 đến @ViewBag.Count</h4>
            </div>
            <div class="modal-body">
                <input type="hidden" id="hiddenNumber" value="@ViewBag.Count" />
                <input type="number" min="1" max=@ViewBag.Count class="form-control" id="numberWord" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="submitButton">Go</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<article id="webslides" class="vertical">
    <section>
        <span class="background light" style="background-image:url('https://cntttest.vanlanguni.edu.vn:18081/SpeakOut/Library/images/game.jpg')"></span>
        <div class="wrap fadeInUp">
            <h2>Trò chơi</h2>
            <p><code>Vừa học vừa chơi</code></p>
            <ul class="flexblock clients">
                <li>
                    <a href="./MatchingGame" title="Client">
                        <figure>
                            <img class="blacklogo" src="~/Library/images/game1.png" alt="Memory Game">
                            <figcaption>
                                <h3>Memory Game</h3>
                                <p>Game lật hình giúp nhanh chóng lưu nhớ từ vựng tiếng anh và thú vị.</p>
                            </figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a title="Client" data-toggle="modal" href="#myModal">
                        <figure>
                            <img class="blacklogo" src="~/Library/images/game2.png" alt="Word">
                            <figcaption>
                                <h3>Brand</h3>
                                <p>Game nối từ tiếng việt vs tiếng anh đồng nghĩa</p>
                            </figcaption>
                        </figure>
                    </a>
                </li>

            </ul>
        </div>
        <!-- .end .wrap -->
    </section>
</article>
@section Script1 {
    <script>
        //Validate type on input
        $("[type='number']").keypress(function (evt) {
            evt.preventDefault();
        });
        $('#submitButton').click(function () {
            localStorage.setItem("numberWord", $("[type='number']").val());
            localStorage.setItem("personalWord", $("#hiddenNumber").val());
            window.location.href = "../Game/WritingGame";
        });
    </script>
}
