
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<article id="webslides" class="vertical">
    <section>
        <span class="background light" style="background-image:url('https://cntttest.vanlanguni.edu.vn:18081/SpeakOut/Library/images/game.jpg')"></span>
        <div class="wrap fadeInUp">
            <h2>Trò chơi</h2>
            <p><code>Vừa học vừa chơi</code></p>
            <ul class="flexblock clients">
                <li>
                    <a href="./MatchingGame" title="Client">
                        <figure>
                            <img class="blacklogo" src="~/Library/images/game1.png" alt="Memory Game">
                            <figcaption>
                                <h3>Memory Game</h3>
                                <p>Game lật hình giúp nhanh chóng lưu nhớ từ vựng tiếng anh và thú vị.</p>
                            </figcaption>
                        </figure>
                    </a>
                </li>
                <li>
                    <a href="#" title="Client">
                        <figure>
                            <img class="blacklogo" src="~/Library/images/game2.png" alt="Word">
                            <figcaption>
                                <h3>Brand</h3>
                                <p>Game nối từ tiếng việt vs tiếng anh đồng nghĩa</p>
                            </figcaption>
                        </figure>
                    </a>
                </li>

            </ul>
        </div>
        <!-- .end .wrap -->
    </section>
</article>
